<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">
            org.apache.derby.jdbc.ClientDriver
        </property>

        <property name="hibernate.connection.url">
            jdbc:derby://localhost/JKretJPAPractice
        </property>

        <property name="hbm2ddl.auto">update</property>

        <mapping class="Product"/>
        <mapping class="Supplier"/>
        <mapping class="Transaction_"/>
        <mapping class="Customer"/>
    </session-factory>
</hibernate-configuration>
